$bgColor: #1E2C30;
$bgColorBox_3: #111E22;
$colorText: white;
$text__title: 'Playfair Display', serif;
$text__text: 'Manrope', sans-serif;

@mixin font {
    font-family: $text__text;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

//Latest Updates

.container {
    margin: 0 auto;
    width: 1200px;

    .button {
        display: flex;
        justify-content: center;

    }

    .button__btn,
    .button__btn-2 {
        padding: 2%;
        margin: 2%;
        width: 230px;
        font-size: 15px;
        font-weight: 400;
        font-family: $text__text;
        letter-spacing: 1.56px;
        border: 2px solid #5C8692;
        background-color: white;

        &:hover {
            background-color: #5C8692;
            color: $colorText;
            border: 2px solid black;
            transition-duration: 500ms;

        }
    }
}

.section_title {
    text-align: center;
    font-family: $text__title;
    color: #141414;
    font-size: 45px;
    margin-bottom: 6.5%;
}

.wrapper {
    display: flex;
    justify-content: space-around;

    .box {
        box-shadow: 0px 4px 10px rgb(165, 165, 165);

        &:hover {
            box-shadow: 3px 7px 12px rgb(165, 165, 165);
            transition-duration: 500ms;
        }
    }

    .box:not(:last-child) {
        margin-right: 2%;
    }
}

.box__text {
    background-color: #EBF3F5;
    height: 255px;
}

.box__text-title {
    margin: 0;
    font-size: 22px;
    font-family: $text__title;
    padding: 1%;
    text-align: center;
}

.box__text-text {
    font-size: 18px;
    font-family: $text__text;
    padding: 1%;
    text-align: center;
}

.box__img {
    width: 387px;
    height: 342px;

    .box__img-img {
        max-width: 100%;
    }
}

.wrapper-2 {
    display: none;
    padding-bottom: 11%;
}

//footer 

footer {
    color: $colorText;
    background-color: $bgColor
}

.logo {
    display: flex;
    align-items: center;

    .logo__item_text {
        margin-left: 21px;
    }
}

.box_1,
.box_2 {
    display: flex;
    justify-content: space-between;
}

.box_3 {
    background-color: $bgColorBox_3;
    height: 6%;
    justify-content: center;
    display: flex;
    align-items: center;

    .box_3__text {
        @include font;
        font-size: 15px;
    }
}

.box_1 {
    padding: 70px 120px 21px 120px;
    align-items: center;

    .social__item {
        &:hover {
            background-color: #5C8692;
            transition-duration: 500ms;
        }
    }
}

.box_2 {
    padding: 41px 120px 46px 120px;
    letter-spacing: 0.17px;

    .text__text {
        font-size: 17px;
        @include font;
    }

    .text__title {
        font-size: 22px;
        font-family: $text__title;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: $colorText;

        &:hover {
            color: #5C8692;
            transition-duration: 500ms;
        }
    }
}