@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Playfair Display", serif;
  color: #141414;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper__content {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-blue {
  background-color: #EBF3F5;
}

/* header start */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  transition: 0.2s linear;
}
.header .header__left-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .header__logo {
  margin-right: 35px;
}
.header .header__phone-pic {
  position: relative;
  top: 6;
  left: -3;
}
.header .header__phone-num {
  text-decoration: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #141414;
}
.header .header__right-section {
  display: flex;
  align-items: center;
}
.header .header__list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
}
.header .header__item {
  list-style-type: none;
  margin: 0px 19px;
}
.header .header__link {
  text-decoration: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #141414;
}
.header .header__link:hover {
  color: #5C8692;
  font-size: 20px;
}
.header .header__pics {
  padding-right: 25px;
}
.header .header__link-pic {
  margin: 0px 6px;
  text-decoration: none;
  width: 50%;
}
.header .header__button {
  position: relative;
  background-color: #5C8692;
  width: 201px;
  height: 58px;
  border: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: white;
}
.header .header__button .header__button-pic {
  position: relative;
  top: 3;
}
.header .header__button:hover {
  background-color: #141414;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #141414;
  position: absolute;
  right: 10;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
}

.burger__line_third {
  bottom: 0;
}

/* header end */
/* main start */
.main__container {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main__information {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;
  justify-content: space-evenly;
}
.main__information .content__preview {
  color: #5C8692;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-left: 30px;
  background: url(/assets/img/first_section/zwe.svg) no-repeat left;
}
.main__information .content__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: 0.66px;
  color: #141414;
  transform: translate(-100%, 0px);
  opacity: 0;
  transition: all 1s ease 0s;
}
.main__information .content__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main__information .content__description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #555555;
  max-width: 483px;
  max-height: 92px;
  transform: translate(100%, 0px);
  opacity: 0;
  transition: all 1s ease 0s;
}
.main__information .content__description._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s ease 0.1s;
}
.main__information .main__button {
  color: #fff;
  background-color: #5C8692;
  width: 238px;
  height: 57px;
  border: 0 none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}
.main__information .main__button:hover {
  background-color: #141414;
  color: #EBF3F5;
  transform: scale(1.05);
}

.main__image {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.main__image .girl-wrapper {
  max-width: 85%;
  position: absolute;
  right: 0;
}
.main__image .header-girl {
  max-width: 90%;
  max-height: 90%;
  z-index: 1;
}
.main__image .header-girl:hover {
  transform: scale(1.05);
}

/* main end */
/* cards start */
.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.container-cards .content__cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  max-width: 380px;
  position: relative;
  overflow: hidden;
}
.container-cards .content__cards .card__pic:hover {
  transform: scale(1.05);
}
.container-cards .card__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.312px;
}
.container-cards .card__description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.36px;
  color: #555555;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 57px;
  border: 2px solid #5C8692;
  background: transparent;
}
.card__button:hover {
  background: #5C8692;
  color: #fff;
}

/* cards end */
/* section-gril start */
.section__container {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section__container .left__section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;
  justify-content: space-evenly;
}

.section__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #5C8692;
}

.section__info {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.45px;
}

.section__description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #555555;
}

.section__icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.section__icons .item-pic {
  width: 166px;
  height: 162px;
}
.section__icons .item-pic:hover {
  transform: scale(1.1);
}

.right__section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.right__section .section__back-pic {
  max-width: 85%;
  position: absolute;
  right: 0;
}
.right__section .section__girl-pic {
  max-width: 85%;
  max-height: 85%;
  z-index: 1;
}
.right__section .section__girl-pic:hover {
  transform: scale(1.05);
}

/* section-gril end */
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box__text {
  font-family: fontM;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #5C8692;
}
.box__title {
  font-family: "Playfair Display", serif;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.45px;
  color: blackColor;
}
.box__1 {
  display: flex;
  justify-content: space-around;
}
.box__2-prise {
  padding-top: 6%;
}
.box__2 {
  display: flex;
  justify-content: space-around;
}
.box__1-img, .box__2-img {
  display: flex;
  justify-content: center;
  width: 50%;
  overflow: hidden;
}
.box .img {
  width: 98%;
}
.box .img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: 0.5s;
}
.box .title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.264px;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  color: blackColor;
  transition: 1s;
}
.box .prise,
.box .text {
  letter-spacing: 0.36px;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #555555;
  transition: 1s;
}
.box .title:hover,
.box .text:hover {
  transform: scale(1.1);
}
.box h3 {
  border-bottom: 3px solid #141414;
}
.box .text {
  border-bottom: 1px solid #134134;
}
.box .btn {
  border: 2px solid #5C8692;
  width: 50%;
  height: 57px;
  background-color: white;
  font-family: fontM;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1.56px;
  cursor: pointer;
  color: blackColor;
}
.box .btn:hover {
  color: #fff;
  background: #5C8692;
  transition: all 0.2s linear;
}

.conteiner__txt {
  font-family: fontM;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #5C8692;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 100px;
}
.conteiner__tit {
  font-family: "Playfair Display", serif;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.45px;
  color: blackColor;
  margin-top: 0px;
  margin-bottom: 0px;
}
.conteiner__box-1, .conteiner__box-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 70px;
  padding-top: 70px;
  padding-left: 50px;
}

.title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.264px;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  color: blackColor;
}

.text {
  letter-spacing: 0.36px;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #555555;
}

.img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: 0.5s;
}

html {
  margin: 0;
  padding: 0;
}
html body {
  margin: 0 auto;
  padding: 0;
}
html body .client {
  display: flex;
}
html body .testimonials-block {
  margin: 0;
  padding: 5% 0;
  background-color: #EBF3F5;
}
html body .testimonials-block .testimonials-container {
  margin: 0 auto;
  max-width: 1200px;
}
html body .testimonials-block .testimonials-container .testimonials-subtitle {
  font-family: "Manrope";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin: 0;
  text-align: center;
  color: #5C8692;
}
html body .testimonials-block .testimonials-container .testimonials-title {
  font-family: "Playfair Display";
  font-size: 45px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.45px;
  margin-top: 0;
  text-align: center;
  color: #141414;
}
html body .testimonials-block .testimonials-container .feedback-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-one {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-two {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-text__block {
  background-color: #FFFFFF;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-text__block .feedback-text {
  padding: 30px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 19px;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client {
  padding: 22px;
  display: flex;
  background-color: #1E2C30;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__img {
  width: 75px;
  height: 75px;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__name {
  flex-grow: 1;
  padding-left: 20px;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__name > p {
  margin: 0;
  color: #FFFFFF;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__name .client-name {
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.24px;
  padding-bottom: 7px;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__name .client-country {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.42px;
}
html body .testimonials-block .testimonials-container .feedback-btn__block {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
html body .testimonials-block .testimonials-container .feedback-btn__block .feedback-btn {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  padding: 1% 3%;
  border: 2px solid #1E2C30;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1E2C30;
}
html body .testimonials-block .testimonials-container .feedback-btn__block .feedback-btn:hover {
  color: #1E2C30;
  background-color: #FFFFFF;
  transition: 0.3s;
}
html body .testimonials-block .testimonials-container .popup.open {
  opacity: 1;
  visibility: visible;
}
html body .testimonials-block .testimonials-container .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
}
html body .testimonials-block .testimonials-container .popup .popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content {
  max-width: 800px;
  padding: 30px;
  color: #1E2C30;
  position: relative;
  background-color: #FFFFFF;
  border: 5px solid #1E2C30;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #1E2C30;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__title {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  margin: 1em 0px 1em 0px;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text > input,
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text .textarea {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4px;
  padding: 2% 4%;
  border: 1px solid #1E2C30;
  border-radius: 20px;
  outline: none;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text > input:hover,
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text .textarea:hover {
  outline: 1px solid #1E2C30;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text .photo-load {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text .photo-load > input {
  display: none;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text .photo-load > label {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: url(../img/testimonials/load.png);
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text .errors-message {
  padding-top: 2%;
  color: red;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text .reg-ok {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  padding: 2% 20%;
  margin-top: 4%;
  color: #FFFFFF;
  background-color: #1E2C30;
  border: 1px solid #1E2C30;
  border-radius: 10px;
  cursor: pointer;
}
html body .testimonials-block .testimonials-container .popup .popup__body .popup__content .popup__text .reg-ok:hover {
  color: #1E2C30;
  background-color: #FFFFFF;
  transition: 0.3s;
}

/* form-start */
.offer__container {
  display: flex;
}

.offer__information {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  width: 50vw;
}
.offer__information .offer__preview {
  position: absolute;
  height: 23px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  color: #5C8692;
  margin-top: 205px;
}
.offer__information .offer__title {
  position: relative;
  max-width: 445px;
  max-height: 176px;
  left: 0;
  right: 22.61%;
  margin-top: 231px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.45px;
  color: #141414;
}
.offer__information .offer__description {
  max-width: 541px;
  max-height: 62px;
  position: relative;
  left: 0%;
  margin-top: -185px;
  right: 5.91%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #555555;
}
.offer__information .offer__box {
  display: flex;
  flex-wrap: wrap;
}
.offer__information .offer__box .contact__box {
  display: flex;
  display: column;
  flex-wrap: wrap;
  max-width: 302px;
  max-height: 173px;
  left: 0%;
  right: 0%;
  background-color: #FFFFFF;
  margin-top: -250px;
}
.offer__information .offer__box .contact__box .email_label,
.offer__information .offer__box .contact__box .call_label {
  max-width: 64px;
  max-height: 21px;
  left: 0%;
  right: 65.92%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #141414;
}
.offer__information .offer__box .contact__box .contact_email,
.offer__information .offer__box .contact__box .contact_phone {
  height: 23px;
  left: 0%;
  right: -0.1%;
  top: 19.83px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.2px;
  color: #141414;
  text-decoration: none;
}
.offer__information .offer__box .contact__box ul {
  list-style: none;
}
.offer__information .offer__box .offer__box1 {
  max-width: 194px;
  max-height: 173px;
  background-color: #1E2C30;
  margin-top: -250px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.offer__information .offer__box .offer__box1 .discount_header {
  width: 109px;
  height: 23px;
  margin-left: 42px;
  margin-top: 22px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
}
.offer__information .offer__box .offer__box1 .discount_body {
  width: 144px;
  height: 78px;
  margin-left: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  letter-spacing: 0.78px;
  color: #FFFFFF;
}
.offer__information .offer__box .offer__box1 .discount_footer {
  width: 95px;
  height: 27px;
  margin-left: 49px;
  margin-top: 5px;
  margin-bottom: 24px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.8px;
  color: #FFFFFF;
}

.register-box {
  width: 555px;
  height: 690px;
  background: #FFFFFF;
  box-shadow: 1px 0px 18px rgba 0, 0, 0, 0.2;
  border-radius: 0px;
  left: 0%;
  right: 0%;
  margin-top: 110px;
  margin-bottom: 110px;
}
.register-box .register-box1 {
  display: flex;
  direction: column;
  flex-wrap: wrap;
}
.register-box .register-box1 .register-box1_name,
.register-box .register-box1 .register-box1_email,
.register-box .register-box1 .register-box1_phone,
.register-box .register-box1 .register-box1_adress {
  width: 455px;
  height: 65px;
  border: 2px solid #5C8692;
  border-radius: 0px;
  box-sizing: border-box;
  top: calc(50% - 32.5px - 9.99px);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}
.register-box .register-box1 .register-box1_name {
  margin-top: 70px;
}
.register-box .register-box1 .register-box1_notes {
  width: 455px;
  height: 130px;
  border: 2px solid #5C8692;
  border-radius: 0px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}
.register-box .register-box1 .register-box1_button {
  width: 455px;
  height: 65px;
  top: 490.01px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-right: 50px;
  background: #5C8692;
  border: 2px solid #5C8692;
  border-radius: 0px;
}

/* form-end Nata */
.container {
  margin: 0 auto;
  width: 1200px;
}

.section_title {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #141414;
  font-size: 45px;
  margin-bottom: 6.5%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}
.wrapper .box:not(:last-child) {
  margin-right: 2%;
}
.wrapper .box:not(:last-child) .box__img {
  width: 387px;
  height: 342px;
}
.wrapper .box:not(:last-child) .box__img .box__img-img {
  max-width: 100%;
}

footer {
  color: white;
  background-color: #1E2C30;
}

.logo {
  display: flex;
  align-items: center;
}
.logo .logo__item_text {
  margin-left: 21px;
}

.box_1,
.box_2 {
  display: flex;
  justify-content: space-between;
}

.box_3 {
  background-color: #111E22;
  height: 6%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.box_3 .box_3__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.box_1 {
  padding: 70px 120px 21px 120px;
  align-items: center;
}

.box_2 {
  padding: 41px 120px 46px 120px;
  letter-spacing: 0.17px;
  /* section-gril end */
  /* media start */
}
.box_2 .text__text {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  .box_2 .header__burger {
    display: block;
  }
  .box_2 .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5C8692;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.2s all linear;
    padding-left: 20%;
    padding-top: 20%;
  }
  .box_2 .header__nav_active {
    transform: translateX(0);
  }
  .box_2 .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .box_2 .header__item:last-child {
    margin-bottom: 0;
  }
  .box_2 .header__link {
    font-size: larger;
    line-height: 50px;
  }
  .box_2 .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .box_2 .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
  }
  .box_2 .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .box_2 .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}

/* media end *//*# sourceMappingURL=style.css.map */