// lera testimonials-block
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import "variables.scss";

@mixin font($fontF, $fontS, $fontW, $lineH, $letterS) {
    font-family: $fontF;
    font-size: $fontS;
    font-weight: $fontW;
    line-height: $lineH;
    letter-spacing: $letterS;
}

html {
    margin: 0;
    padding: 0;

    body {
        margin: 0 auto;
        padding: 0;

        .client {
            display: flex;
        }

        .testimonials-block {
            margin: 0;
            padding: 5% 0;
            background-color: $backColor;

            .testimonials-container {
                margin: 0 auto;
                max-width: 1200px;

                .testimonials-subtitle {
                    @include font($fontP, 15px, 400, 22px, 1.5px);
                    margin: 0;
                    text-align: center;
                    color: $fontColorP;
                }

                .testimonials-title {
                    @include font($fontH, 45px, 400, 58px, 0.45px);
                    text-align: center;
                    color: $fontColorH;
                }

                .feedback-block {

                    .flex-wrapper {
                        width: 60%;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 20px;
                        background-color: transparent;

                        .slider-wrapper {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            width: 100%;
                            height: 50vh;
                            background-color: transparent;

                            .slide {
                                opacity: 0;
                                position: absolute;
                                width: 90%;
                                transition: 0.4s;
                            }
                        }

                        .btn-prev,
                        .btn-next {
                            cursor: pointer;
                            font-size: 25px;
                            transition: 0.5s;
                            color: $feedbackColor;
                        }

                        .btn-prev:hover {
                            transform: scale(1.3);
                        }

                        .btn-next:hover {
                            transform: scale(1.3);
                        }
                    }

                    .dots-wrapper {
                        display: flex;
                        justify-content: center;

                        @media screen and (max-width: 480px) {
                            .dots-wrapper {
                                margin-top: 3%;
                            }
                        }

                        .active {
                            background-color: $feedbackColor;
                        }

                        span {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background-color: $dotsNotActive;
                            margin-right: 10px;
                            cursor: pointer;
                        }

                        span:last-child {
                            margin-right: 0;
                        }
                    }

                    .active {
                        opacity: 1 !important
                    }

                    .feedback-block {
                        display: flex;
                        flex-direction: column;
                    }

                    .feedback-text__block {
                        background-color: $textBackColor;

                        .feedback-text {
                            padding: 30px;
                            font-family: $fontP;
                            font-weight: 400;
                            font-size: 19px;
                        }

                        @media screen and (max-width: 480px) {
                            .feedback-text {
                                font-size: 14px;
                            }
                        }
                    }

                    .feedback-client {
                        padding: 22px;
                        display: flex;
                        background-color: $feedbackColor;

                        .feedback-client__img {
                            width: 75px;
                            height: 75px;
                        }

                        .feedback-client__name {
                            flex-grow: 1;
                            padding-left: 20px;

                            >p {
                                margin: 0;
                                color: $textBackColor;
                            }

                            .client-name {
                                @include font($fontH, 20px, 400, 24px, 0.24px);
                                padding-bottom: 7px;
                            }

                            .client-country {
                                @include font($fontP, 14px, 400, 21px, 0.42px);
                            }
                        }

                        @media screen and (max-width: 680px) {
                            .quote {
                                display: none;
                            }
                        }

                        @media screen and (max-width: 480px) {
                            .feedback-client__img {
                                display: none;
                            }
                        }
                    }
                }

                .feedback-btn__block {
                    padding-top: 5%;
                    display: flex;
                    justify-content: center;

                    .feedback-btn {
                        @include font($fontH, 16px, 400, 21px, 1.5px);
                        padding: 1% 3%;
                        border: 2px solid $feedbackColor;
                        border-radius: 20px;
                        color: $textBackColor;
                        background-color: $feedbackColor;

                        &:hover {
                            color: $feedbackColor;
                            background-color: $textBackColor;
                            transition: .3s;
                        }
                    }
                }

                .popup.open {
                    opacity: 1;
                    visibility: visible;
                }

                .popup {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    color: $textBackColor;
                    background-color: rgba(0, 0, 0, 0.8);
                    top: 0;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    overflow-x: hidden;
                    overflow-y: auto;
                    transition: all 0.8s ease 0s;

                    .popup__body {
                        min-height: 100vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 10px;

                        .popup__content {
                            max-width: 800px;
                            padding: 30px;
                            color: $feedbackColor;
                            position: relative;
                            background-color: $textBackColor;
                            border: 5px solid $feedbackColor;

                            .popup__close {
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                font-size: 20px;
                                text-decoration: none;
                                color: $feedbackColor;
                                font-weight: 700;
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                            }

                            .popup__title {
                                @include font($fontH, 36px, 400, 21px, 1.5px);
                                margin: 1em 0px 1em 0px;
                            }

                            .popup__text {
                                @include font($fontP, 16px, 400, 21px, 0.4px);
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                position: relative;

                                >input,
                                .textarea {
                                    @include font($fontP, 16px, 400, 21px, 0.4px);
                                    padding: 2% 4%;
                                    border: 1px solid $feedbackColor;
                                    border-radius: 20px;
                                    outline: none;

                                    &:hover {
                                        outline: 1px solid $feedbackColor;
                                    }
                                }

                                .photo-load {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    >input {
                                        display: none;
                                    }

                                    >label {
                                        display: inline-block;
                                        width: 75px;
                                        height: 75px;
                                        background: url(../img/testimonials/load.png);
                                        background-size: 3em;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }

                                .errors-message {
                                    padding-top: 2%;
                                    color: red;
                                }

                                .reg-ok {
                                    @include font($fontH, 16px, 400, 21px, 1.5px);
                                    padding: 2% 20%;
                                    margin-top: 4%;
                                    color: $textBackColor;
                                    background-color: $feedbackColor;
                                    border: 1px solid $feedbackColor;
                                    border-radius: 10px;
                                    cursor: pointer;

                                    &:hover {
                                        color: $feedbackColor;
                                        background-color: $textBackColor;
                                        transition: .3s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// lera testimonials-block