// lera testimonials-block
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$fontP: 'Manrope';
$fontH: 'Playfair Display';
$backColor: #EBF3F5;
$fontColorP: #5C8692;
$fontColorH: #141414;
$feedbackColor: #1E2C30;
$textBackColor: #FFFFFF;

@mixin font($fontF, $fontS, $fontW, $lineH, $letterS) {
    font-family: $fontF;
    font-size: $fontS;
    font-weight: $fontW;
    line-height: $lineH;
    letter-spacing: $letterS;
}

html {
    margin: 0;
    padding: 0;

    body {
        margin: 0 auto;
        padding: 0;

        .client {
            display: flex;
        }

        .testimonials-block {
            margin: 0;
            padding: 5% 0;
            background-color: $backColor;

            .testimonials-container {
                margin: 0 auto;
                max-width: 1210px;

                .testimonials-subtitle {
                    @include font($fontP, 15px, 400, 22px, 1.5px);
                    margin: 0;
                    text-align: center;
                    color: $fontColorP;
                }

                .testimonials-title {
                    @include font($fontH, 45px, 400, 58px, 0.45px);
                    margin-top: 0;
                    text-align: center;
                    color: $fontColorH;
                }

                .feedback-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;

                    .feedback-one {
                        display: flex;
                        flex-direction: column;
                        flex-basis: 49%;
                    }

                    .feedback-two {
                        display: flex;
                        flex-direction: column;
                        flex-basis: 49%;
                    }

                    .feedback-text__block {
                        background-color: $textBackColor;

                        .feedback-text {
                            padding: 6%;
                            font-family: $fontP;
                            font-weight: 400;
                            font-size: 19px;
                        }
                    }

                    .feedback-client {
                        padding: 22px;
                        display: flex;
                        background-color: $feedbackColor;

                        .feedback-client__img {
                            width: 75px;
                            height: 75px;
                        }

                        .feedback-client__name {
                            flex-grow: 1;
                            padding-left: 20px;
                            >p {
                                margin: 0;
                                color: $textBackColor;
                            }
                            .client-name {
                                @include font($fontH, 20px, 400, 24px, 0.24px);
                                padding-bottom: 7px;
                            }
                            .client-country {
                                @include font($fontP, 14px, 400, 21px, 0.42px);
                            }
                        }
                    }
                }
            }
        }
    }
}
// lera testimonials-block