@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  color: #141414;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper__content {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-blue {
  background-color: #EBF3F5;
}

/* header start */
.header {
  display: flex;
  justify-content: space-between;
  transition: 0.2s linear;
  padding: 15px 0px;
}

.header__left-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 35px;
  padding-left: 0;
}

.header__phone-pic {
  position: relative;
  top: 6;
  left: -3;
}

.header__phone-num {
  text-decoration: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #141414;
}

.header__right-section {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  padding-right: 15px;
}

.header__item {
  list-style-type: none;
  margin: 0px 19px;
}

.header__link {
  text-decoration: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #141414;
}
.header__link:hover, .header__link:focus {
  opacity: 0.7;
  font-size: 18px;
}

.header__pics {
  padding-right: 25px;
}

.header__link-pic {
  margin: 0px 6px;
  text-decoration: none;
  width: 50%;
}

.header__button {
  position: relative;
  background-color: #5C8692;
  width: 201px;
  height: 58px;
  border: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.header__button .header__button-pic {
  position: relative;
  top: 3;
}
.header__button:hover, .header__button:focus, .header__button:active {
  background-color: #141414;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #141414;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #5C8692;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
}

.popup:target {
  opacity: 0.95;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px, 10px;
}

.popup__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 1;
  color: #141414;
  width: 350px;
  height: 350px;
  padding: 30px;
  position: relative;
}

.popup__title {
  display: flex;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0.45px;
  color: #141414;
  margin-top: 50px;
  margin-bottom: 50px;
}

.popup__text {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border: 2px solid #5C8692;
}
.popup__text #modal__send {
  background-color: #5C8692;
  align-items: center;
}
.popup__text #modal__send:hover, .popup__text #modal__send:active {
  background-color: #141414;
  color: #fff;
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 10px;
  text-decoration: none;
  font-size: 30px;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* header end */
/* main start */
.main__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 885px;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main__information {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;
  justify-content: space-evenly;
}
.main__information .content__preview {
  color: #5C8692;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-left: 30px;
  background: url(/assets/img/first_section/zwe.svg) no-repeat left;
}
.main__information .content__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: 0.66px;
  color: #141414;
  transform: translate(-100%, 0px);
  opacity: 0;
  transition: all 1s ease 0s;
}
.main__information .content__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main__information .content__description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #555555;
  max-width: 483px;
  max-height: 92px;
  transform: translate(100%, 0px);
  opacity: 0;
  transition: all 1s ease 0s;
}
.main__information .content__description._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s ease 0.1s;
}
.main__information .main__button {
  color: #fff;
  background-color: #5C8692;
  width: 238px;
  height: 57px;
  border: 0 none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  text-decoration: none;
}
.main__information .main__button:hover, .main__information .main__button:focus, .main__information .main__button:active {
  background-color: #141414;
  color: #EBF3F5;
  transform: scale(1.05);
  transition: 0.5s;
}

.main__image {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  position: relative;
}
.main__image .girl-wrapper {
  max-width: 90%;
  position: absolute;
  right: 0;
}
.main__image .header-girl {
  max-width: 90%;
  max-height: 90%;
  z-index: 1;
}
.main__image .header-girl:hover, .main__image .header-girl:focus, .main__image .header-girl:active {
  transform: scale(1.05);
  transition: 0.5s;
}

@media screen and (max-width: 825px) {
  .main__container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main__information {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 20px;
  }
  .main__image {
    margin-top: 70px;
    justify-content: center;
    align-items: center;
  }
  .main__image .girl-wrapper {
    display: none;
  }
  .main__image .header-girl {
    max-width: 80%;
    max-height: 80%;
  }
  .main__image .header-girl:hover, .main__image .header-girl:focus, .main__image .header-girl:active {
    transform: scale(1.05);
    transition: 0.5s;
  }
}
/* main end */
/* cards start */
.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.container-cards .content__cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  max-width: 380px;
  position: relative;
  overflow: hidden;
}
.container-cards .content__cards .card__pic:hover, .container-cards .content__cards .card__pic:focus, .container-cards .content__cards .card__pic:active {
  transform: scale(1.05);
  transition: 0.5s;
}

.card__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.312px;
}

.card__description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.36px;
  color: #555555;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 57px;
  border: 2px solid #5C8692;
  background: transparent;
}
.card__button:hover {
  background: #5C8692;
  color: #fff;
}

/* cards end */
/* section-gril start */
.section__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section__container .left__section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;
  justify-content: space-evenly;
}

.section__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #5C8692;
}

.section__info {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.45px;
}

.section__description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #555555;
}

.section__icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.section__icons .item-pic {
  width: 166px;
  height: 162px;
}
.section__icons .item-pic:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.section__icons .section__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #5C8692;
}
.section__icons .section__info {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.45px;
}
.section__icons .section__description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #555555;
}
.section__icons .section__icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.section__icons .section__icons .item-pic {
  width: 166px;
  height: 162px;
}
.section__icons .section__icons .item-pic:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.right__section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.right__section .section__back-pic {
  max-width: 85%;
  position: absolute;
  right: 0;
}
.right__section .section__girl-pic {
  max-width: 85%;
  max-height: 85%;
  z-index: 1;
}
.right__section .section__girl-pic:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

@media screen and (max-width: 1017px) {
  .section__container {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .section__container .left__section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  .section__icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
  }
  .section__icons .item-pic {
    width: 166px;
    height: 162px;
  }
  .section__icons .item-pic:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .right__section {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin-top: 70px;
  }
  .right__section .section__back-pic {
    max-width: 100%;
    overflow: hidden;
  }
  .right__section .section__girl-pic {
    max-width: 85%;
    max-height: 85%;
    z-index: 1;
  }
  .right__section .section__girl-pic:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}
/* section-gril end */
/* media start */
@media screen and (max-width: 980px) {
  .header__left-section {
    margin-right: 250px;
  }
  .header__pics, .header__button {
    display: none;
  }
  .header__burger {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
  }
  .header__container {
    padding-top: 28px;
  }
  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5C8692;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
  .header__nav_active {
    transform: translateX(0);
  }
  .header__list {
    display: flex;
    flex-direction: column;
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }
  .header__link {
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: white;
    line-height: 2;
  }
  .header__link:hover, .header__link:focus {
    color: #1E2C30;
    font-size: 50px;
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}
/* media end */
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box__text {
  font-family: fontM;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #5C8692;
}
.box__title {
  font-family: "Playfair Display", serif;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.45px;
  color: blackColor;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
@media (max-width: 951px) {
  .box__title {
    font-size: 43px;
  }
}
@media (max-width: 820px) {
  .box__title {
    font-size: 40px;
  }
}
@media (max-width: 755px) {
  .box__title {
    font-size: 38px;
  }
}
@media (max-width: 770px) {
  .box__title {
    font-size: 36px;
  }
}
@media (max-width: 730px) {
  .box__title {
    font-size: 34px;
  }
}
@media (max-width: 690px) {
  .box__title {
    font-size: 32px;
  }
}
@media (max-width: 401px) {
  .box__title {
    font-size: 23px;
  }
}
.box__1 {
  display: flex;
  justify-content: space-around;
}
.box__2-prise {
  padding-top: 6%;
}
.box__2 {
  display: flex;
  justify-content: space-around;
}
.box__1-img, .box__2-img {
  display: flex;
  justify-content: center;
  width: 50%;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.box .img {
  width: 98%;
  transition: transform 0.2s;
}
.box .title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.264px;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  color: blackColor;
  transition: 1s;
}
.box .prise,
.box .text {
  letter-spacing: 0.36px;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #555555;
  transition: 1s;
}
.box .title:hover,
.box .text:hover {
  transform: scale(1.1);
}
.box h3 {
  border-bottom: 3px solid #141414;
}
.box .text {
  border-bottom: 1px solid #134134;
}
.box .btn {
  border: 2px solid #5C8692;
  width: 50%;
  height: 57px;
  background-color: white;
  font-family: fontM;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1.56px;
  cursor: pointer;
  color: blackColor;
}
.box .btn:hover {
  color: #fff;
  background: #5C8692;
  transition: all 0.2s linear;
}
@media (max-width: 951px) {
  .box .prise,
.box .text {
    font-size: 16px;
  }
  .box .title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 23px;
  }
}
@media (max-width: 820px) {
  .box .prise,
.box .text {
    font-size: 14px;
  }
  .box .title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
  }
  .box .btn {
    width: 70%;
    height: 50px;
    font-size: 13px;
  }
}
@media (max-width: 755px) {
  .box .prise,
.box .text {
    font-size: 12px;
  }
  .box .title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
  }
  .box .btn {
    width: 70%;
    height: 50px;
    font-size: 13px;
  }
}
@media (max-width: 770px) {
  .box .title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
  }
  .box .btn {
    width: 70%;
    height: 40px;
    font-size: 10px;
  }
}
@media (max-width: 730px) {
  .box .prise,
.box .text {
    font-size: 11px;
  }
  .box .title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
  }
  .box .btn {
    width: 70%;
    height: 30px;
    font-size: 10px;
  }
}
@media (max-width: 690px) {
  .box .prise,
.box .text {
    font-size: 10px;
  }
  .box .title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
  }
  .box .btn {
    width: 70%;
    height: 25px;
    font-size: 10px;
  }
}
@media (max-width: 660px) {
  .box .box__1 {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding-top: 70px;
  }
  .box .box__2 {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: space-around;
    align-items: center;
    padding-top: 70px;
  }
  .box .img {
    width: 100%;
  }
  .box .prise,
.box .text {
    font-size: 13px;
  }
  .box .title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
  }
  .box .btn {
    width: 100%;
    height: 30px;
    font-size: 13px;
  }
  .box .box__1-prise,
.box .box__2-prise {
    padding-top: 50px;
  }
}

.conteiner__txt {
  font-family: fontM;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #5C8692;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 100px;
}
.conteiner__tit {
  font-family: "Playfair Display", serif;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.45px;
  color: blackColor;
  margin-top: 0px;
  margin-bottom: 0px;
}
.conteiner__box-1, .conteiner__box-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 70px;
  padding-top: 70px;
  padding-left: 50px;
}
@media (max-width: 990px) {
  .conteiner__section {
    text-align: center;
  }
}
@media (max-width: 656px) {
  .conteiner__tit {
    font-size: 32px;
  }
  .conteiner__box-2 {
    padding-top: 0px;
  }
}

.title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.264px;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  color: blackColor;
}

.text {
  letter-spacing: 0.36px;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #555555;
}

@media (max-width: 656px) {
  .text {
    font-size: 15px;
  }
  .title {
    font-size: 20px;
  }
  .img {
    width: 30%;
  }
}
.imgs:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: 0.5s;
}

.modal__box {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal__content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #fefefe;
  z-index: 9999;
  width: 40%;
  height: 80%;
  border-radius: 20px;
}

.madal__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15%;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.madal__title {
  font-size: 25px;
}

.close__madal {
  color: #aaa;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  justify-content: space-between;
}

.form__input-phone:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: 0.5s;
}
.form__input-name:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: 0.5s;
}
.form__input-phone, .form__input-name {
  width: 100%;
  padding: 0 0 20px 0;
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  text-align: center;
  letter-spacing: 1.56px;
  font-family: "Playfair Display", serif;
  font-style: fontStyle;
}
.form__input-name:focus {
  border-bottom: 2px solid #5C8692;
}
.form__input-phone:focus {
  border-bottom: 2px solid #5C8692;
}
.form__btn-procedura {
  border: 2px solid #5C8692;
  height: 35px;
  background-color: white;
  font-family: fontM;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.56px;
  cursor: pointer;
  color: blackColor;
}
.form__btn-procedura:hover {
  color: #fff;
  background: #5C8692;
  transition: all 0.2s linear;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: 0.5s;
}
.form__btn-time {
  border: 2px solid #5C8692;
  height: 35px;
  background-color: white;
  font-family: fontM;
  font-style: fontStyle;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1.56px;
  cursor: pointer;
  color: blackColor;
  font-family: "Playfair Display", serif;
}
.form__btn-time:hover {
  color: #fff;
  background: #5C8692;
  transition: all 0.2s linear;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: 0.5s;
}

.form__btn {
  padding-top: 40px;
  width: 500px;
  text-align: center;
}

.form__time,
.form__procedura {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 30px;
}

.form__time {
  padding-bottom: 50px;
}

.form__group {
  padding-bottom: 30px;
}

.modal__btn {
  font-family: "Playfair Display", serif;
  font-style: fontStyle;
  border: 2px solid #5C8692;
  height: 35px;
  width: 50%;
  background-color: white;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1.56px;
  cursor: pointer;
  color: blackColor;
}
.modal__btn:hover {
  color: #fff;
  background: #5C8692;
  transition: all 0.2s linear;
}

.madal__title {
  font-family: "Playfair Display", serif;
  font-style: fontStyle;
  font-size: 25px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.45px;
  color: #134134;
}

.date {
  border: none;
  height: 35px;
  width: 100px;
  font-family: "Playfair Display", serif;
  font-size: 15px;
}

.date:hover {
  color: #fff;
  background: #5C8692;
  transition: all 0.2s linear;
}

@media (max-width: 890px) {
  .madal__title {
    font-size: 17px;
  }
}
@media (max-width: 704px) {
  .form__time {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
@media (max-width: 630px) {
  .modal__content {
    width: auto;
  }
}
html {
  margin: 0;
  padding: 0;
}
html body {
  margin: 0 auto;
  padding: 0;
}
html body .client {
  display: flex;
}
html body .testimonials-block {
  margin: 0;
  padding: 5% 0;
  background-color: #EBF3F5;
}
html body .testimonials-block .testimonials-container {
  margin: 0 auto;
  max-width: 1200px;
}
html body .testimonials-block .testimonials-container .testimonials-subtitle {
  font-family: "Manrope";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin: 0;
  text-align: center;
  color: #5C8692;
}
html body .testimonials-block .testimonials-container .testimonials-title {
  font-family: "Playfair Display";
  font-size: 45px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.45px;
  text-align: center;
  color: #141414;
}
html body .testimonials-block .testimonials-container .feedback-block .flex-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: transparent;
}
html body .testimonials-block .testimonials-container .feedback-block .flex-wrapper .slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: transparent;
}
html body .testimonials-block .testimonials-container .feedback-block .flex-wrapper .slider-wrapper .slide {
  opacity: 0;
  position: absolute;
  width: 90%;
  transition: 0.4s;
}
html body .testimonials-block .testimonials-container .feedback-block .flex-wrapper .btn-prev,
html body .testimonials-block .testimonials-container .feedback-block .flex-wrapper .btn-next {
  cursor: pointer;
  font-size: 25px;
  transition: 0.5s;
  color: #1E2C30;
}
html body .testimonials-block .testimonials-container .feedback-block .flex-wrapper .btn-prev:hover {
  transform: scale(1.3);
}
html body .testimonials-block .testimonials-container .feedback-block .flex-wrapper .btn-next:hover {
  transform: scale(1.3);
}
html body .testimonials-block .testimonials-container .feedback-block .dots-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  html body .testimonials-block .testimonials-container .feedback-block .dots-wrapper .dots-wrapper {
    margin-top: 3%;
  }
}
html body .testimonials-block .testimonials-container .feedback-block .dots-wrapper .active {
  background-color: #1E2C30;
}
html body .testimonials-block .testimonials-container .feedback-block .dots-wrapper span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(30, 44, 48, 0.5725490196);
  margin-right: 10px;
  cursor: pointer;
}
html body .testimonials-block .testimonials-container .feedback-block .dots-wrapper span:last-child {
  margin-right: 0;
}
html body .testimonials-block .testimonials-container .feedback-block .active {
  opacity: 1 !important;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-block {
  display: flex;
  flex-direction: column;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-text__block {
  background-color: #FFFFFF;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-text__block .feedback-text {
  padding: 30px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 19px;
}
@media screen and (max-width: 480px) {
  html body .testimonials-block .testimonials-container .feedback-block .feedback-text__block .feedback-text {
    font-size: 14px;
  }
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client {
  padding: 22px;
  display: flex;
  background-color: #1E2C30;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__img {
  width: 75px;
  height: 75px;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__name {
  flex-grow: 1;
  padding-left: 20px;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__name > p {
  margin: 0;
  color: #FFFFFF;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__name .client-name {
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.24px;
  padding-bottom: 7px;
}
html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__name .client-country {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 680px) {
  html body .testimonials-block .testimonials-container .feedback-block .feedback-client .quote {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  html body .testimonials-block .testimonials-container .feedback-block .feedback-client .feedback-client__img {
    display: none;
  }
}
html body .testimonials-block .testimonials-container .feedback-btn__block {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
html body .testimonials-block .testimonials-container .feedback-btn__block .feedback-btn {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  padding: 1% 3%;
  border: 2px solid #1E2C30;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1E2C30;
}
html body .testimonials-block .testimonials-container .feedback-btn__block .feedback-btn:hover {
  color: #1E2C30;
  background-color: #FFFFFF;
  transition: 0.3s;
}
html body .testimonials-block .testimonials-container .feedback-popup.open {
  opacity: 1;
  visibility: visible;
}
html body .testimonials-block .testimonials-container .feedback-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content {
  max-width: 800px;
  padding: 30px;
  color: #1E2C30;
  position: relative;
  background-color: #FFFFFF;
  border: 5px solid #1E2C30;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #1E2C30;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__title {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  margin: 1em 0px 1em 0px;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text > input,
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .textarea {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4px;
  padding: 2% 4%;
  border: 1px solid #1E2C30;
  border-radius: 20px;
  outline: none;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text > input:hover,
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .textarea:hover {
  outline: 1px solid #1E2C30;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .rating-select {
  margin: 1% 0;
  padding: 2%;
  font-family: "Playfair Display";
  font-size: 20px;
  color: #FFFFFF;
  background-color: #1E2C30;
  border: 1px solid #1E2C30;
  border-radius: 20px;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .photo-load {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .photo-load > input {
  display: none;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .photo-load > label {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: url(../img/testimonials/load.png);
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .errors-message {
  padding-top: 2%;
  color: red;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .reg-ok {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  padding: 2% 20%;
  margin-top: 4%;
  color: #FFFFFF;
  background-color: #1E2C30;
  border: 1px solid #1E2C30;
  border-radius: 10px;
  cursor: pointer;
}
html body .testimonials-block .testimonials-container .feedback-popup .feedback-popup__body .feedback-popup__content .feedback-popup__text .reg-ok:hover {
  color: #1E2C30;
  background-color: #FFFFFF;
  transition: 0.3s;
}

/* form-start */
.offer {
  min-height: 910px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.offer .section__offer {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: center;
}
.offer .section__offer .offer__preview {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #5C8692;
}
.offer .section__offer .offer__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.45px;
  color: #141414;
}
.offer .section__offer .offer__description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #555555;
}
.offer .section__offer .offer__image:hover, .offer .section__offer .offer__image:focus, .offer .section__offer .offer__image:active {
  transform: scale(1.05);
}
.offer .section__form {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: center;
  align-items: flex-end;
}
.offer .section__frame {
  display: flex;
  width: 555px;
  height: 690px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}
.offer .section__form {
  display: flex;
  align-items: center;
}
.offer .section__field {
  border: 2px solid #5C8692;
  width: 465px;
  height: 55px;
  position: relative;
  margin-bottom: 20px;
}
.offer .section__field-person {
  background: url(/assets/img/first_section/person-form.svg) no-repeat left;
  background-size: 30px;
}
.offer .section__field-mail {
  background: url(/assets/img/first_section/mail-form.svg) no-repeat left;
  background-size: 30px;
}
.offer .section__field-phone {
  background: url(/assets/img/first_section/phone-form.svg) no-repeat left;
  background-size: 30px;
}
.offer .section__field-book {
  background: url(/assets/img/first_section/book-form.svg) no-repeat left;
  background-size: 30px;
}
.offer .section__field-note {
  background: url(/assets/img/first_section/note-form.svg) no-repeat left top;
  background-size: 30px;
  height: 130px;
}
.offer .section__field-button {
  background-color: #5C8692;
  color: #fff;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
}
.offer .section__field-button:hover, .offer .section__field-button:focus, .offer .section__field-button:active {
  font-size: 22px;
  background-color: #1E2C30;
}

@media screen and (max-width: 680px) {
  .offer {
    min-height: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .offer .section__offer {
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
  }
  .offer .section__offer .offer__preview {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
  }
  .offer .section__offer .offer__title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;
    letter-spacing: 0.45px;
    color: #141414;
  }
  .offer .section__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 70px;
  }
  .offer .section__frame {
    display: flex;
    padding-top: 70px;
    width: 555px;
    height: 455px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }
  .offer .section__form {
    display: flex;
    align-items: center;
  }
  .offer .section__field {
    border: 2px solid #5C8692;
    width: 465px;
    height: 65px;
    position: relative;
    margin-bottom: 30px;
  }
  .offer .section__field-person {
    background: url(/assets/img/first_section/person-form.svg) no-repeat left;
    background-size: 20px;
  }
  .offer .section__field-mail {
    background: url(/assets/img/first_section/mail-form.svg) no-repeat left;
    background-size: 20px;
  }
  .offer .section__field-phone {
    background: url(/assets/img/first_section/phone-form.svg) no-repeat left;
    background-size: 20px;
  }
  .offer .section__field-book {
    background: url(/assets/img/first_section/book-form.svg) no-repeat left;
    background-size: 20px;
  }
  .offer .section__field-note {
    background: url(/assets/img/first_section/note-form.svg) no-repeat left top;
    background-size: 20px;
    height: 130px;
  }
  .offer .section__field-button {
    background-color: #5C8692;
    color: #fff;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
  }
  .offer .section__field-button:hover, .offer .section__field-button:focus, .offer .section__field-button:active {
    font-size: 22px;
    background-color: #1E2C30;
  }
}
@media screen and (max-width: 1174px) {
  .section__offer {
    margin: 70px 0;
    justify-content: center;
    align-items: center;
  }
}
/* form-end Nata */
.container {
  margin: 0 auto;
  width: 1200px;
}
.container .button {
  display: flex;
  justify-content: center;
}
.container .button__btn,
.container .button__btn-2 {
  padding: 2%;
  margin: 2%;
  width: 230px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  letter-spacing: 1.56px;
  border: 2px solid #5C8692;
  background-color: white;
}
.container .button__btn:hover,
.container .button__btn-2:hover {
  background-color: #5C8692;
  color: white;
  border: 2px solid black;
  transition-duration: 500ms;
}

.section_title {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #141414;
  font-size: 45px;
  margin-bottom: 6.5%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}
.wrapper .box {
  box-shadow: 0px 4px 10px rgb(165, 165, 165);
}
.wrapper .box:hover {
  box-shadow: 3px 7px 12px rgb(165, 165, 165);
  transition-duration: 500ms;
}
.wrapper .box .box__text {
  background-color: #EBF3F5;
  height: 255px;
}
.wrapper .box .box__text-title {
  margin: 0;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  padding: 1%;
  text-align: center;
}
.wrapper .box .box__text-text {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  padding: 1%;
  text-align: center;
}
.wrapper .box .box__img {
  width: 387px;
  height: 342px;
}
.wrapper .box .box__img .box__img-img {
  max-width: 100%;
}
.wrapper .box:not(:last-child) {
  margin-right: 2%;
}

.wrapper-2 {
  display: none;
  padding-bottom: 11%;
}

footer {
  color: white;
  background-color: #1E2C30;
}

.logo {
  display: flex;
  align-items: center;
}
.logo .logo__item_text {
  margin-left: 21px;
}

.box_1,
.box_2 {
  display: flex;
  justify-content: space-between;
}

.box_3 {
  background-color: #111E22;
  height: 6%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.box_3 .box_3__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.box_1 {
  padding: 70px 120px 21px 120px;
  align-items: center;
}
.box_1 .social__item:hover {
  background-color: #5C8692;
  transition-duration: 500ms;
}

.box_2 {
  padding: 41px 120px 46px 120px;
  letter-spacing: 0.17px;
}
.box_2 .text__text {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.box_2 .text__title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.box_2 a {
  text-decoration: none;
  color: white;
}
.box_2 a:hover {
  color: #5C8692;
  transition-duration: 500ms;
}/*# sourceMappingURL=style.css.map */