// alexvolk
$main_color: #141414;
$button_color: #5C8692;
$header_background: #EBF3F5;

// kris
$blackColor: #141414;
$fontM: 'Manrope';
$fontStyle: normal;

// lera
$fontP: 'Manrope';
$fontH: 'Playfair Display';
$backColor: #EBF3F5;
$fontColorP: #5C8692;
$fontColorH: #141414;
$feedbackColor: #1E2C30;
$feedbackColorRat: #1e2c30de;
$textBackColor: #FFFFFF;
$dotsNotActive: #1e2c3092;

// alex
$bgColor: #1E2C30;
$bgColorBox_3: #111E22;
$colorText: white;
$text__title: 'Playfair Display',
serif;
$text__text: 'Manrope',
sans-serif;